.education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: #AAC0AA;
    width: 12vw;
    margin-left: 720px;
  }
  img {
    width: 150px;
    margin: 20px;
    border-radius: 20px;
  }
  h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    color: #0b0089;
    text-decoration: none;
  }