.experience-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color:#AAC0AA;
    width: 15vw;
    margin-left: 700px;
  }
  
  h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    color: #0b0089;
    text-decoration: none;
    padding: 10px;
  }